# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Apple
.DS_Store

# PyBuilder
target/

# Application Data
data/

# Build artifacts and guides
build_guide.md
icon.ico
*.spec
build/
dist/

# VS Code
.vscode/
.history/
